# Web Framework
fastapi==0.116.1
uvicorn==0.35.0

# LLM and Vector Libraries
torch==2.3.0
sentence-transformers==2.6.1
transformers==4.40.1
pinecone-client==3.1.0

# Document Processing
unstructured[pdf]==0.18.11

# Utilities
numpy==2.0.2
tqdm==4.67.1
python-dotenv==1.0.1
